.sidebarComponent {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 240px;
  left: 0;
  background-color: rgb(94, 91, 91);
  overflow-x: hidden;
  padding-top: 20px;
}

.header {
  padding: 40px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.sidebar {
  position: relative;

}
.sidebar button {
display: block;
margin: auto
}
